:root {
  --color-background: #f7f4ef; /* Used for the background color */
  --color-surface: #faf7f3; /* Used for the card colors - slightly darker than background */

  --color-text: #292a27;
  --color-text-muted: #74736e;
  --color-accent: #cc7949;

  --color-border: #e5e1d8;

  --color-primary: #5d624b;
  --color-primary-soft: #e8ede5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
}